{
  "extends": "standard-with-typescript",
  "parserOptions": {
      "project": "./tsconfig.json"
  },
  "rules": {
      "@typescript-eslint/strict-boolean-expressions": "off",
      "@typescript-eslint/no-throw-literal": 0,
      "@typescript-eslint/no-misused-promises": 0,
      "@typescript-eslint/no-extraneous-class": 0
  }
}