{
  "extends": "standard-with-typescript",
  "parserOptions": {
      "project": "./tsconfig.json"
  },
  "rules": {
      "@typescript-eslint/strict-boolean-expressions": "off",
      "@typescript-eslint/no-throw-literal": 0,
      "@typescript-eslint/no-misused-promises": 0,
      "@typescript-eslint/no-extraneous-class": 0,
      "@typescript-eslint/explicit-function-return-type": 0,
      "@typescript-eslint/consistent-type-assertions": 0,
      "n/handle-callback-err": 0,
      "@typescript-eslint/no-namespace": 0
  }
}